<div class="click-closed"></div>
  <!--/ Form Search Star /--><!--/ Nav End /-->

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Amazing Properties</h1>
            <span class="color-text-a">Grid Properties</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Grid Star /-->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="grid-option">
            <form>
              <select class="custom-select">
                <option selected>All</option>
                <option value="1"><a href="/users/dashboard">Low to High</a></option>
                <option value="2">High to Low</option>
                <option value="3">Popularity</option>
              </select>
            </form>
          </div>
        </div>
        {{#each pg}}
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="/img/img/property-1.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="details/{{this.pgname}}">{{this.pgname}}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">rent | {{this.rent}}</span>
                  </div>
                  <a href="property-single.html" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a" style="margin-top: 2px;">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">City</h4>
                      <span>{{this.loc1}}
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Nearby</h4>
                      <span>{{this.nearby}}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Type</h4>
                      <span>{{this.furniture}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
  </section>
  <!--/ Property Grid End /-->

  <!--/ footer Star /--><section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">PG Finder</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Find Where To live
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Phone </span>+91 8375022778</li>
                <li class="color-a">
                  <span class="color-text-a">Email </span>karanmahajan321@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">Me</span>
          </div>
          <div class="credits">Designed by Karan Mahajan</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->